.sidebar {
  width: 300px;
  background-color: #d9efe0;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ecf0f1;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.sidebar ul li {
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  color: #bdc3c7;
  transition: background 0.3s, color 0.3s;
  text-align: center;
  border-radius: 4px;
}

.sidebar ul li:hover {
  background-color: #659376;
  color: #ecf0f1;
}

.sidebar ul li.active {
  background-color: #57716b;
  color: white;
}
