.history-list {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #ecf0f1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto; /* 테이블을 중앙 정렬 */
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

thead {
  background-color: #f8f8f8;
}
