/* 기본 테이블 스타일 */
table {
  border: 1px solid #ddd;
  border-spacing: 0;
  border-radius: 5px;
  width: 100%; /* 테이블이 부모 컨테이너의 100%를 차지하게 설정 */
  max-width: 100%; /* 테이블이 컨테이너를 넘지 않게 설정 */
  table-layout: auto; /* 열 너비가 데이터 내용에 따라 자동으로 조절 */
}

/* 테이블 헤더 스타일 */
th {
  padding: 10px;
  background-color: #f9f9f9; /* 헤더 배경색 */
  text-align: left; /* 텍스트 정렬 */
  border-bottom: 1px solid #ddd;
  white-space: nowrap; /* 텍스트가 셀 너비를 넘지 않게 설정 */
}

/* 테이블 본문 스타일 */
table tbody tr td {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  text-align: left; /* 셀 텍스트 정렬 */
  white-space: nowrap; /* 텍스트가 셀 너비를 넘지 않게 설정 */
}

table tbody tr:hover {
  background-color: #ddd; /* 행 호버 효과 */
  cursor: pointer;
}

table tbody tr td:nth-child(1) {
  min-width: auto; /* 첫 번째 열 너비 자동 조정 */
}

/* 선택된 행 스타일 */
.select_row {
  background-color: rgb(240, 240, 240);
}

/* 비활성화된 행 호버 비활성화 */
table tbody tr.disabled_row:hover {
  background-color: transparent;
  cursor: default;
}

.disabled_row {
  color: rgb(199, 199, 199); /* 비활성화된 행 텍스트 색상 */
}

/* 빈 테이블 또는 데이터가 적을 때 테이블 정렬 */
table tbody::after {
  content: ''; /* 빈 내용 */
  display: table-row; /* 행처럼 표시 */
  height: 100%; /* 전체 높이 차지 */
}
