#history-page {
  width: 100%; /* 부모 컨테이너의 100%를 차지 */
  display: flex;
  flex-direction: column;
}

#history {
  padding: 10% 10% 0 10%; /* 위쪽 20%, 좌우 10%, 아래쪽 0% 공백 추가 */
  box-sizing: border-box; /* 패딩을 포함하여 박스 크기를 계산 */
  border-spacing: 0;
  border-radius: 5px;
  width: 100%; /* 부모 컨테이너의 100%를 차지 */
  max-width: 100%; /* 테이블이 컨테이너를 넘지 않게 설정 */
  table-layout: auto; /* 열 너비가 데이터 내용에 따라 자동으로 조절 */
}

/* 테이블 헤더 스타일 */
th {
  padding: 10px;
  background-color: #f9f9f9; /* 헤더 배경색 */
  text-align: left; /* 텍스트 정렬 */
  border-bottom: 1px solid #ddd;
  white-space: nowrap; /* 텍스트가 셀 너비를 넘지 않게 설정 */
}

#history tbody tr td {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  text-align: left; /* 셀 텍스트 정렬 */
  white-space: nowrap; /* 텍스트가 셀 너비를 넘지 않게 설정 */
}

#history tbody tr:hover {
  background-color: #ddd; /* 행 호버 효과 */
  cursor: pointer;
}

#history tbody tr td:nth-child(1) {
  min-width: auto; /* 첫 번째 열 너비 자동 조정 */
}

/* 선택된 행 스타일 */
.select_row {
  background-color: rgb(240, 240, 240);
}

/* 비활성화된 행 호버 비활성화 */
#history tbody tr.disabled_row:hover {
  background-color: transparent;
  cursor: default;
}

.disabled_row {
  color: rgb(199, 199, 199); /* 비활성화된 행 텍스트 색상 */
}

#history tbody::after {
  content: ''; /* 빈 내용 */
  display: table-row; /* 행처럼 표시 */
  height: 100%; /* 전체 높이 차지 */
}

#bottom {
  margin-top: 5%;
  text-align: center;
}

#entry {
  width: 50px;
  height: 50px;
  border: 0;
  background-color: transparent;
  display: inline-block;
}

button:hover {
  cursor: pointer;
}

#entry-modal {
  width: 550px;
  height: 700px;
  background-color: antiquewhite;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
}
