#history-container {
  padding-top: 5%;
  max-width: 100%;
  width: 70%;
}

#history {
  box-sizing: border-box;
  border-spacing: 0;
  border-radius: 5px;
  table-layout: auto;
  width: 100%;
}

#history tbody {
  display: block;
  max-height: 400px;
  overflow-y: scroll;
}

#history thead,
#history tbody tr {
  display: table;
  width: 100%;
}

#history thead tr th {
  width: 140px;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

#history tbody tr td {
  width: 140px;
  text-align: left;
}

#history tbody tr td {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  text-align: left;
  white-space: nowrap;
}

#history tbody tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

#history tbody tr td:nth-child(1) {
  min-width: auto;
}

#col_select {
  width: 30px;
}

.select_row {
  background-color: rgb(240, 240, 240);
}

#history tbody tr.disabled_row:hover {
  background-color: transparent;
  cursor: default;
}

.disabled_row {
  color: rgb(199, 199, 199);
}

#history tbody::after {
  content: '';
  display: table-row;
  height: 100%;
}

#bottom {
  margin-top: 5%;
  text-align: center;
}

#entry {
  width: 50px;
  height: 50px;
  border: 0;
  background-color: transparent;
  display: inline-block;
}

button:hover {
  cursor: pointer;
}

#entry-modal {
  width: 300px;
  height: 500px;
  background-color: #d9efe0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}

#entry-modal h2 {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.input-group {
  padding: 10% 20% 10% 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
}
